/* Imports */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background:black;
    color: aliceblue;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: underline;
    color:white;
}
/* scrollbar style for chrmoium */

::-webkit-scrollbar{
    width:0.4rem;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(to top, rgba(143,98,180,0.835171568627451) 24%, rgba(33,188,224,0.6615021008403361) 96%);
    border-radius: 4px;
}

/* scrollbar style for firefox */

@supports (scrollbar-color: red blue) {
    *{
     scrollbar-color: linear-gradient(to top, rgba(143,98,180,0.835171568627451) 24%, rgba(33,188,224,0.6615021008403361) 96%);
     scrollbar-width: thin;
  }
}

.custom-shape-divider-top-1640527939 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1640527939 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 161px;
}

.custom-shape-divider-top-1640527939 .shape-fill {
    fill: rgba(80, 69, 233, 0.959);
}
.avatar-div{
    width: 210px;
    height: 210px;
    margin:auto;
    margin-top: 2.3rem;
}

.avatar{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.avatar:hover{
    box-shadow: 0px 0px 15px 8px rgba(60, 135, 233, 0.959);
    z-index: -12;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.hov-style:hover{
    color:aqua;
}

.hov-style2:hover{
    color:#22E7A8;
}

.intro-para{
    font-size: 2rem;
    font-weight: 200;
    margin: 0.5rem;
}

@keyframes slide {
    0% {
      transform: translateY(150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideTop {
    0% {
      transform: translateY(-150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .intro {  
    animation: 1s ease-out 0s 1 slide;
  }

  .socials {  
    animation: 1s ease-out 0s 1 slideTop;
  }

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter{
    width: 37px;
    height: 37px;
    margin-right: 1.1rem;
}
.github{
    width: 50px;
    margin-right: 1.1rem;
}
.steam{
    width: 32px;
    margin-right: 1.3rem;
}
.discord{
    width:37px;
    margin-right: 1.3rem;
}

.snap {
    width:32px;
    margin-right: 1.4rem;
}

.ig{
    width: 10px;
}

.youtube{
    width: 38px;
}

.gal-section{
    display: flex;
    justify-content: center;
    background:linear-gradient(90deg, rgba(143,98,180,0.835171568627451) 24%, rgba(33,188,224,0.6615021008403361) 96%);
    padding :0.7em;
    border-radius: 0.8rem;
    text-shadow: 2px 3px 12px cornflowerblue;
}

/* .gal--div{
come back later
} */

.gal-1{
    height: 37.5rem; 
    background: url('images/retro/retro.jpg');
    background-position: center;
    background-size: cover;
 }

.nyan-cat{
    margin-top: 10rem;
    width: 60px;
}
.nyan{
    display: flex;
    justify-content: center;
}
.playlist{
    display: flex;
    justify-content: center;
    /* background: linear-gradient(132deg, #acf43f 0%, #16A085 100%); */
    background:linear-gradient(90deg, rgba(143,98,180,0.835171568627451) 24%, rgba(33,188,224,0.6615021008403361) 96%);
    padding :0.7em;
    border-radius: 0.4rem;
    text-shadow: 2px 3px 12px black;
}

.spotify-container{
    margin-top: 1.5rem;

}

.gal--div{
    position: relative;
}
    .gal-2{
        width: 11.875rem;
        height: 32.5rem;
        position: absolute;
        top:7%;
       background: url('images/retro/1.jpg');
       background-repeat: no-repeat;
       background-position: center;
    }
   
    .gal-3{
       width: 11.875rem;
       height: 32.5rem;
       position: absolute;
       top:0%;
       right: 0px;
      background: url('images/retro/2.jpg');
      background-repeat: no-repeat;
      background-position:30% bottom;
   }

.footer{
display: flex;
justify-content: center;
margin-top: 3rem;
}

.about-me--div{
    border: 2px solid;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(143,98,180,0.835171568627451) 24%, rgba(33,188,224,0.6615021008403361) 96%);;
    margin-top: 3rem;
    font-size: 1.1rem;
}

.ame{
    text-align: center;
}

/* RESPONSIVENESS STARTS */

@media(max-width:650px){
.gal-2,.gal-3{
    display: none;
}
}
@media(min-width:67rem){
    .nav-items{
        font-family: 'Roboto Condensed', sans-serif !important;
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding-top: 0.2rem;
        font-family: 'Newsreader', serif;
        font-size:1.5rem;
        font-weight: bold;
        text-shadow: 1px 2px 6px rgba(128, 128, 128, 0.616);
}

.intro{
    display: flex;
    justify-content: center;
}

.twitter{
    width: 37px;
    height: 37px;
    margin-right: 2rem;
}
.github{
    width: 50px;
    margin-right: 2rem;
}
.steam{
    width: 32px;
    margin-right: 2rem;
}
.discord{
    width:37px;
    margin-right: 2rem;
}

.snap {
    width:32px;
    margin-right: 2rem;
}

.ig{
    width: 10px;
}

.youtube{
    width: 38px;
}

.gal-1{
    height: 53.125rem; 
    background: url('images/retro/retro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
 }
.gal--div{
    position: relative;
}
 .gal-2{
     width: 18.75rem;
     height: 52.5rem;
     position: absolute;
    background: url('images/retro/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
 }

 .gal-3{
    width: 21.875rem;
    height: 47.625rem;
    position: absolute;
    right: 0px;
   background: url('images/retro/2.jpg');
   background-repeat: no-repeat;
   background-position: center;
}

.giff{
    position: absolute;
    right: 0px;
    top: 187%;
    background: url('images/retro/anim.gif');
    background-position:10% top;
    min-width: 30rem;
    min-height: 30rem;
    z-index: -1;
}

.about-me--div{
    margin:auto;
    margin-top: 5rem;
    width: 50%;
    display: flex;
    justify-content: center;
}

.nyan-cat{
    margin-top: 10rem;
    width: 60px;
}
.nyan{
    display: flex;
    justify-content: center;
}
.main-spotify-continer{
    height:50rem;
    background: url('images/retro/3.jpg');
    background-size:70%;
    background-repeat: no-repeat;
}
.spotify-container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.spotify{
    width:40%;
}
}

/*
Don't remove this tag! 
Developed by :
 _       _    _ _       
(_)     | |  (_) |      
 _ _ __ | | ___| |_   _ 
| | '_ \| |/ / | | | | |
| | | | |   <| | | |_| |
|_|_| |_|_|\_\_|_|\__,_| */